extends ../layout

block content
  .container
    include ../partials/flash

    .page-header
    h3 Account Settings

    row
      .col-sm-6
        h4 Profile Information
        form.form-horizontal(action='/account', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label.col-sm-3.control-label(for='email') Email
            .col-sm-7
              input.form-control(type='email', name='email', id='email', value=user.email)
          .form-group
            label.col-sm-3.control-label(for='name') Name
            .col-sm-7
              input.form-control(type='text', name='name', id='name', value=user.profile.name)
          .form-group
            label.col-sm-3.control-label(for='location') Location
            .col-sm-7
              input.form-control(type='text', name='location', id='location', value=user.profile.location)
          .form-group
            label.col-sm-3.control-label(for='website') Website
            .col-sm-7
              input.form-control(type='text', name='website', id='website', value=user.profile.website)
          .form-group
            label.col-sm-3.control-label(for='school') School
            .col-sm-7
              input.form-control(type='text', name='school', id='school', value=user.profile.school)
          .form-group
            label.col-sm-3.control-label(for='company') Company
            .col-sm-7
              input.form-control(type='text', name='company', id='company', value=user.profile.company)
          .form-group
            .col-sm-offset-3.col-sm-4
              button.btn.btn-update-profile.btn-primary(type='submit')
                i.fa.fa-pencil
                | Update Profile
        form.form-horizontal(action='/account/password', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.col-sm-3.control-label(for='password') New Password
              .col-sm-7
                input.form-control(type='password', name='password', id='password')
            .form-group
              label.col-sm-3.control-label(for='confirmPassword') Confirm Password
              .col-sm-7
                input.form-control(type='password', name='confirmPassword', id='confirmPassword')
            .form-group
              .col-sm-offset-3.col-sm-4
                button.btn.btn-primary(type='submit')
                  i.fa.fa-lock
                  | Change Password
    row
      .col-sm-6
        h4 Linked Accounts
        .form-horizontal
          .form-group
            .col-2
              if user.linkedin
                p: a.text-danger(href='/account/unlink/linkedin') Unlink your LinkedIn account
              else
                p: a(href='/auth/linkedin') Link your LinkedIn account

  .page-header
  h3 Delete Account
  form.form-horizontal(action='/account/delete', method='POST')
      .form-group
        p.col-sm-offset-3.col-sm-6 You can delete your account, but keep in mind this action is irreversible.
        input(type='hidden', name='_csrf', value=_csrf)
        .col-sm-offset-3.col-sm-6
          button.btn.btn-danger(type='submit')
            i.fa.fa-trash
            | Delete my account